# Directory di compilazione
build/
cmake-build-*/

# File compilati
*.o
*.obj
*.a
*.so
*.dylib
*.exe

# Python
.venv/
*.egg-info/
build/
dist/
__pycache__/
*.pyc
plots/

# Output e log
output/
*.log

# File degli editor
.vscode/
.idea/

# File di sistema
.DS_Store

# Dati sensibili locali
.env